<<<<<<< HEAD
=======
<<<<<<< HEAD
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<!DOCTYPE html>
<html>
<head>
	<title>Wohp's Error</title>
	<% include ../partials/stylesheet %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
		<div class="page-header m-t-1">
			<h1>Sorry: <% message %></h1>
			<h2><%= error.status %></h2>
			<pre><%= error.stack %></pre>
		</div>
	</div>

	<% include ../partials/footer %>
	<% include ../partials/javascript %>
</body>
</html>
=======
>>>>>>> 14fc4bc9fee34cf8e05024edcb4f3e830715e182
<!DOCTYPE html>
<html>
<head>
    <title>Wohp's Error</title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>

    <div class="container">
      <div class="page-header m-t-1">
        <h1>Sorry: <%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
      </div>

    </div>

    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
<<<<<<< HEAD
=======
>>>>>>> develop
>>>>>>> 14fc4bc9fee34cf8e05024edcb4f3e830715e182
